<!DOCTYPE html>
<html>
    <head>
        <title>Artwork by Wendy Donahoe</title>
        
        <link href="../static/style.css" rel="stylesheet" type="text/css">
        <link href="../static/jscroll_style.css" rel="stylesheet" type="text/css"> 
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        
        <meta property="og:title" content="Artwork by Wendy Donahoe - Contemporary realist drawings.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.wendydonahoeart.com/cv">
        <meta property="og:image" content="http://5279f0c1a4138f10bed8-3dc10a7c26bad057c08ae0fa5a5f3941.r93.cf5.rackcdn.com/Thirteen_Gallery_Thumbnail.jpg">
        <meta name="Description" content="Contemporary realist artist, Wendy Jones Donahoe creates finely detailed drawings in graphite, charcoal, and colored pencil from her studios in Alexandria, Virginia and Gerradstown, West Virginia.">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />       
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://c380a080ff283bcbee82-404c3d2d6aa0d161ba304d89ab3a9a85.r37.cf5.rackcdn.com/jquery.mousewheel.js"></script>       
        <script type="text/javascript" src="http://c380a080ff283bcbee82-404c3d2d6aa0d161ba304d89ab3a9a85.r37.cf5.rackcdn.com/jquery.navbar.min.js"></script>
        <script type="text/javascript" src="http://c380a080ff283bcbee82-404c3d2d6aa0d161ba304d89ab3a9a85.r37.cf5.rackcdn.com/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript">
            (function(){
                // if firefox 3.5+, hide content till load (or 3 seconds) to prevent FOUT
                var d = document, e = d.documentElement, s = d.createElement('style');
                if (e.style.MozTransform === ''){ // gecko 1.9.1 inference
                    s.textContent = 'body{visibility:hidden}';
                    var r = document.getElementsByTagName('script')[0];
                    r.parentNode.insertBefore(s, r);
                    function f(){ s.parentNode && s.parentNode.removeChild(s);}
                    addEventListener('load',f,false);
                    setTimeout(f,3000);
                }
            })();
            
            $(function()
                {
                    $('.scroll-pane').jScrollPane({autoReinitialise: true});
                }
             );
        </script>
        
        <style>
            #leftbio {
                background-color:black;
                width:600px;
                height:100%;
                color:#909090;
                overflow:scroll;
                overflow-x:hidden;
            }
            
            #rightbio {
                background-color:black;
                width:400px;
                height:100%;
                overflow:hidden;
            }
            
            #rightbio img {
                position:absolute;
                margin: 10px 10px 10px 50px;
                height:100%;
                width:auto;
                top:0;
            }
            
            .scroll-pane {
                position:relative;
                width:600px;
                height:500px;
                overflow:auto;
                outline:none;
            }
            
            .scroll-pane p {
                z-index:3;
                font-size:0.85em;
            }
            
        </style>                   
    </head>
    
    <body>
        <div class="wrapper">
            <div id="header">
                <img src="http://5279f0c1a4138f10bed8-3dc10a7c26bad057c08ae0fa5a5f3941.r93.cf5.rackcdn.com/Wendy_Donahoe1.jpg" alt="header img">
                <ul id="navlist">
                    <li><a href="/index">Home</a></li>
                    <li>
                        <a onmouseover="mopen('m1')"
                           onmouseout="mclosetime()"
                           href="/home">About</a>
                        <div id="m1"
                             onmouseover="mcancelclosetime()"
                             onmouseout="mclosetime()">
                            <a href="/bio">Bio</a>
                            <a href="/cv">CV</a>
                        </div>
                    </li>
                    <li><a href="/shades_of_gray">Shades of Gray</a></li>
                    <li><a href="/color">Color</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>        
            </div>
            <div id="container">
                <div id="leftbio" class="col">
                    <div class="scroll-pane">                   
                        <p>
                            <strong>BORN</strong><br>  Wendy Ann Jones, 1956, Wilmington, Delaware
				        </p>
				        <p>
					        <strong>EDUCATION</strong><br>
					                University of Delaware, BFA in Drawing, 1978<br>             
                                    George Washington University, Graduate work, 1980 - 81<br>
				        </p>
				        <p>
					        <strong>SELECTED EXHIBITIONS AND AWARDS - 2006 through 2013</strong><br>
                        </p>
                        <p>
                            <strong>THE ART LEAGUE GALLERY</strong><br>
                            <strong>The Marker Award</strong>,  NICHOLAS, Linda Brinker Hafer, Juror<br>
                            Related Link: <a href="http://www.theartleague.org/blog/2012/12/13/qa-with-award-winner-wendy-donahoe/">http://www.theartleague.org/blog/2012/12/13/qa-with-award-winner-wendy-donahoe/</a><br>
                            <strong>The Shayna Heisman Simkin Award</strong>,  OLIVIA, Lenny Campello, Juror<br>
                            <strong>Larry Kirsten Award</strong>,  THIRTEEN, Catriona Fraser, Juror<br>
                            <strong>Jane McElvany Coonce Award</strong>,  HIGH CLOUDS OVER BROOMGRASS, Judy Jashinsky, Juror<br>
                            <strong>Gilham Award</strong>,  FIRSTBORN, Daniel Finch, Juror<br>
                            <strong>Bob Hof Award</strong>,  A PEAR OF HANDS, Dena Muller, Juror<br>
                            <strong>Eleanor Boudreau Jordan Award</strong>,  STONE FACED, Walter Kravitz, Juror<br>
                            <strong>Honorable Mention Awards</strong>:  ISLAND FAIRY, DISTANT COUSINS, MAY 57, SURF AND TURF, POSTER CHILD, SECOND CHAIR, AVERY IN HER SECOND SUMMER<br>
                            </p>
                            <p>
                            <strong>PATRON SHOW AWARDS</strong><br>
                            <strong>Marian Van Landingham Award:</strong>  AVERY AT THE WINDOW,  IT'S MY PARTY,<br>  AVERY AT TWELVE IN 1465<br>
                            <strong>Charles E. Beatley, Jr. Popular Vote Award:</strong>  AVERY AT THE WINDOW,  FROM THE TOWER,  IT'S MY PARTY,  BAG LUNCH<br>
                            <strong>The Daniel & Julie Clemente Prize</strong>,  IT' MY PARTY<br>
                            <strong>website:</strong> <a href="http://www.theartleague.org/">http://www.theartleague.org/</a>
                            </p>
                            <p>
				                <strong>MARYLAND FEDERATION OF ART CIRCLE GALLERY</strong><br>
				                <strong>ART ON PAPER, A National Juried Exhibition</strong><br>
                                <strong>Juror's Choice Award</strong>,  OLIVIA, Susan Badder, Juror<br>
                                <strong>Juror's Choice Award</strong>,  FIRSTBORN,  Joann Moser, Juror<br>
                                <strong>Honorable Mention Award</strong>,  THIRTEEN,  Johanna Halford-Macleod, Juror<br>
                                <strong>Selected for Exhibition:</strong> ISLAND FAIRY, PLATE 122,  TWEEN ANGEL, DRIED SUMMER BLOOM<br>
                                <strong>website</strong>: <a href="www.mdfedart.org">www.mdfedart.org</a>
                             </p>
				        <p>
					         <strong>FRASER GALLERY</strong> 2010 Summer Group Show, Bethesda, MD.<br> Related Link: <a href="http://ww2.gazette.net/stories/08182010/entemon104804_32536.php">http://ww2.gazette.net/stories/08182010/entemon104804_32536.php</a>
				        </p>
				        <p>
				            <strong>THE AFFORDABLE ART FAIR</strong>, New York City, Fall 2010 Exhibitors, Fraser Gallery
				        </p>
				        <p>
				            <strong>ART RENEWAL CENTER</strong><br>  
                            <strong>International 2012 / 2013 ARC Salon Finalist</strong>, Drawing, NICHOLAS<br>  Related Link:  <a href="http://www.artrenewal.org/pages/salon_winners.php?contest=2012-2013%20Salon&page=Drawing">http://www.artrenewal.org/pages/salon_winners.php?contest=2012-2013%20Salon&page=Drawing</a><br>
                            <strong>International 2010 / 2011 ARC Salon Finalist</strong>, Drawing: THIRTEEN, OLIVIA<br>  Related Link: <a href="http://www.artrenewal.org/pages/contest.php?contest=2010-2011%20Salon&page=Drawing">http://www.artrenewal.org/pages/contest.php?contest=2010-2011%20Salon&page=Drawing</a>
				        </p>
				        <p>
				            <strong>GAIL PIAZZA GALLERY</strong><br>
				            <strong>Just Pears Invitational Exhibition</strong>,  A PEAR OF HANDS
				        </p>
				        <p>
				            <strong>THE TARGET GALLERY</strong><br>
                            <strong>Between The Lines: Contemporary Drawing Now</strong>, THIRTEEN, Linn Meyers, Juror<br> Related Link:  <a href="http://www.torpedofactory.org/galleries/target2013/betweenthelines.htm">http://www.torpedofactory.org/galleries/target2013/betweenthelines.htm</a>
				        </p>
				        <p>
				            <strong>DRAWING MAGAZINE</strong>
				            <strong>Shades Of Gray National Competition</strong><br> Honorable Mention, OLIVIA, Spring Issue 2013
				        </p>
                        <p>
                            Drawings by Wendy Donahoe & Paul Glenshaw through May 2014 Covington & Burling LLP Washington, DC
                        </p>
                    </div>    
                </div>
                <div id="rightbio" class="col">
                    <img src="http://5279f0c1a4138f10bed8-3dc10a7c26bad057c08ae0fa5a5f3941.r93.cf5.rackcdn.com/StoneFaced_Gallery_Smaller.jpg">
                </div>
            </div>
        </div>   
    </body>
</html>
