<!DOCTYPE html>
<html>
	<head>
        <meta property="og:title" content="Artwork by Wendy Donahoe - Contemporary realist drawings.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.wendydonahoeart.com">
        <meta property="og:image" content="http://5279f0c1a4138f10bed8-3dc10a7c26bad057c08ae0fa5a5f3941.r93.cf5.rackcdn.com/Thirteen_Gallery_Thumbnail.jpg">
        <meta name="Description" content="Contemporary realist artist, Wendy Jones Donahoe creates finely detailed drawings in graphite, charcoal, and colored pencil from her studios in Alexandria, Virginia and Gerradstown, West Virginia.">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<link href="../static/image_stylesheet.css" rel="stylesheet" type="text/css">

		<title>{{name}}</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>       
		<script type="text/javascript">
            (function(){
                // if firefox 3.5+, hide content till load (or 3 seconds) to prevent FOUT
                var d = document, e = d.documentElement, s = d.createElement('style');
                if (e.style.MozTransform === ''){ // gecko 1.9.1 inference
                    s.textContent = 'body{visibility:hidden}';
                    var r = document.getElementsByTagName('script')[0];
                    r.parentNode.insertBefore(s, r);
                    function f(){ s.parentNode && s.parentNode.removeChild(s);}
                    addEventListener('load',f,false);
                    setTimeout(f,3000);
                }
            })();

            $(document).ready(function(){
                var clicked = false;
                $('img').click(function(){
                    if (clicked == false){
                        $(this).css({'max-height' : 'none','width' : '100%', 'cursor' : 'zoom-in'});
                        clicked = true;
                    }
                    else{
                        $(this).css({'max-height' : '97vh','width' : 'auto', 'cursor' : 'zoom-out'});
                        clicked = false;
                    }
                });
            });

        </script>
	</head>
    <body>
        <img src={{image}}>
    </body>
</html>
